.team {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.team-card {
  width: 25%;
  text-align: center;
}
.logocover {
  height: 200px;
}
.app-name-link img {
  height: 200px;
}
.embeded-miro {
  height: 100vh;
  width: 100%;
}
.pdf-schema{
  height: 720px;
}
.pdf-board{
  height: 960px;
}
#esp32-board{
  height: 720px;
}